# Database Configuration
POSTGRES_DB=kudo
POSTGRES_USER=kudo_admin
POSTGRES_PASSWORD=kudo_admin123!
POSTGRES_PORT=5433

# Redis Configuration
REDIS_PASSWORD=redis123!
REDIS_PORT=6379

# Minio Configuration
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio
MINIO_ACCESS_KEY=access-key
MINIO_SECRET_KEY=secret-key
MINIO_BUCKET_NAME=kudo
MINIO_PUBLIC_URL=https://example.com

# Application Secrets & Settings
JWT_SECRET=kudo_jwt_super_secret_key_2026
APP_PORT=3000
FRONTEND_URL=https://example.com

# Google OAuth
GOOGLE_CLIENT_ID=client-id
GOOGLE_CLIENT_SECRET=client-secret
GOOGLE_REDIRECT_URL=http://localhost:3000/auth/google/callback

# Docker Images
BACKEND_IMAGE=ghcr.io/erikbuidt/kudo-be:main
FRONTEND_IMAGE=ghcr.io/erikbuidt/kudo-fe:main